* {
  box-sizing: border-box;
}
body{
  background-color: #e9ece5;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
html {
  font-family: "Lucida Sans", sans-serif;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #c0dfd9;
  color: #3b3a36;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.menu li:hover {
  background-color: #b3c2bf;
}
.aside {
  /*background-color: #33b5e5;*/
  background-color: #c0dfd9;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.footer {
  margin-top: 3rem;
  background-color: #c0dfd9;
  padding: 10px;
  min-height: 60px;
  display: flex;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
.neighborName {
  font-size: 2rem;
  background-image: url(../image/belltown.jpg);
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: 100% 100%;
  color: #6ed3cf;
  min-height: 10rem;
  padding-top: 7rem;
  padding-left: 2rem;
}
.neighborName span {
  background-color: gray;
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  .neighborName {
    min-height: 300px;
    padding-top: 200px;
  }
}
section {
  display: none;
}
/*table*/
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #c0dfd9;
}
#customers td {
  border-bottom: 1px solid #c0dfd9;
  padding: 8px;
}
#customers tr:nth-child(odd) {
  background-color: #c0dfd9;
}
#customers tr:hover {
  background-color: #ddd;
}
/*group button*/
.button {
  background-color: #2dbcb6;
  color: #ffffff;
  border: 2px solid #c0dfd9;
  padding: 8px 8px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  float: right;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 0px;
}
.button:hover {
  background-color: #b3c2bf;
  color: #3b3a36;
}
/*image slide*/
.mySlides {
  display: none;
}
.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}
.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}
#galleryDescM {
  display: none;
  background-color: #5a5c51;
}
#historyDesc h1 {
  font-size: 1.2rem;
  color : #6ed3cf;
}
.col-6{
  background-color: #5a5c51;
}
@media only screen and (min-width: 768px) {
  .col-6{
    min-height: 480px;
  }
}
#historyDesc p{
   color:white;
}
#schoolDesc h1 {
  font-size: 1.2rem;
  color : #6ed3cf;
}
#schoolDesc p{
  color:white;
}
#incomeDesc h1 {
  font-size: 1.2rem;
  color : #6ed3cf;
}
#incomeDesc p{
  color:white;
}
#housePriceDesc h1 {
  font-size: 1.2rem;
  color : #6ed3cf;
}
#housePriceDesc p{
  color:white;
}
#activityDesc h1 {
  font-size: 1.2rem;
  color : #6ed3cf;
}
#activityDesc p{
  color:white;
}
#historyDescM{
  background-color: #5a5c51;
}
#historyDescM h1 {
  font-size: 1.2rem;
  color : #6ed3cf;
}
#historyDescM p{
  color:white;
}
#schoolDescM{
  background-color: #5a5c51;
}
#schoolDescM h1 {
  font-size: 1.2rem;
  color : #6ed3cf;
}
#schoolDescM p{
  color:white;
}
#incomeDescM{
  background-color: #5a5c51;
}
#incomeDescM h1 {
  font-size: 1.2rem;
  color : #6ed3cf;
}
#incomeDescM p{
  color:white;
}
#housePriceDescM{
  background-color: #5a5c51;
}
#housePriceDescM h1 {
  font-size: 1.2rem;
  color : #6ed3cf;
}
#housePriceDescM p{
  color:white;
}
#activityDescM{
  background-color: #5a5c51;
}
#activityDescM h1 {
  font-size: 1.2rem;
  color : #6ed3cf;
}
#activityDescM p{
   color:white;
}
@media only screen and (min-width: 768px) {
  section {
    margin-top: 2rem;
  }
}
p{
  font-family: "Philosopher", sans-serif;
}
li{
  font-family: "Philosopher", sans-serif;
}
span{
  font-family: "Philosopher", sans-serif;
}
table tr td{
  font-family: "Philosopher", sans-serif ;
}
#rowNav{
  display: none;
}
@media only screen and (min-width: 768px) {
  #rowNav{
    display: block;
    /*background-color: #6ed3cf;*/
    color: #6ed3cf;
    position:fixed;
    top:300px;
    right:24vw;
    z-index: 10;
  }
}
#rowNav i{
  display: block;
}
#rowNav a :hover{
  color: #fae596;
}
