.banner {
  display: inline-block;
  position: absolute;
  height: auto;
  margin: 0;
  margin-top: 34%;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  padding: 02%;
  font-size: 0.92em;
  width: 96%;
}
.graphicsWrapper {
  /*margin: 2% 0 3% 0;*/
  border-radius: 3%;
}
.graphicsWrapper .graphicsContainer {
  height: 280px;
  margin: 0 4% 4% 4%;
  /* border-top: solid;
            border-bottom: solid;
             margin-right: 100%;
            margin-top: 25%;
            width: 100%;*/
}
.graphicsWrapper .graphicsContainer div {
  margin: 0;
}
.graphicsWrapper .graphicsContainer div canvas {
  width: auto!important;
  height: 277px!important
}
.graphicItem {
  height: 50%;
  width: 100%;
  margin-bottom: 4% !important;
}
.visible {
  display: none;
}
#graphs {
  display: none;
}
#pdf a
{
  margin-top: 2%;
  color: #3b3a36;
}
#backtotop
{
  text-align: right;
  margin-right: 0%;
}
#backtotop a:hover
{
  color:#3b3a36; 
}
/*Desktop*/
@media only screen and (min-width: 1025px) {
  .graphicsWrapper {
    width: 77%;

    /*margin: 3%;*/
    border-radius: 3%;
    /*padding: 3% 0 3% 0;*/
  }
  .graphicsWrapper .graphicsContainer {
    border: 0;
  }
  .graphicsWrapper div canvas {
    width: auto!important;
    height: 280px!important;
    padding: 2%;
  }
  .graphicItem {
    margin-bottom: 0 !important;
    height: 60%;
  }
  .map-marker-text {
    margin-top: -13px;
    font-size: 0.6em;
    margin-left: 4px!important;
  }
  .visible {
    display: block;
  }
  #pdf
  {
    margin-left: 90%;
  }
   #suggestionMain,#suggestionNames{
      margin:0 !important;
      padding: 0!important;
   }
}
